@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('about.css');
@import url('product.css');

html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}

a{
    text-decoration: none;
    color:inherit;
}

header{
    position:absolute;
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.menu{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-items: center;
    gap: 5vw;
    max-width: 1440px;
    opacity: 1;
}
.bur-menu{
    display: none;
}
.menu span:hover{
    color: #06960B;
    transition: 0.5s
}
#account-btn span:hover{
    color: #FFFFFF;
}
.logoImg{
    width: 140px;
    height: 60px;
}
#account-btn{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    background: #06960B;
    border-radius: 25px;
    width: 190px;
    height: 50px;
}
#account-btn span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.accImg{
    width: 40px;
    height: 40px;
}
#burger-menu-active{
    width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
#burger-menu-active span {
	width: 50px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #06960B;
	transition: all 0.5s;
}
#burger-menu-active span:nth-of-type(2) {
	top: calc(50% - 10px);
}
#burger-menu-active span:nth-of-type(3) {
	top: calc(50% + 10px);
}
.burger{
    display:block;
    position: fixed;
	top: 0;
	left: 0%;
	width: 50%;
	height: 100%;
	padding: 15px;
    background: #06960B;
	transform: translateX(-100%);
	transition: transform 0.1s; 
}
.active{
    transform: translateX(0);
    z-index: 1000;
}
#burger-menu-active.active span:nth-of-type(1) {
    display: none;
}
#burger-menu-active.active  span:nth-of-type(2) {
    background: #fff;
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
#burger-menu-active.active  span:nth-of-type(3) {
    background: #fff;
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.left-menu{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    justify-items: center;
    opacity: 1;
}
.start{
    background: url('../images/Background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 943px;
}
.sloganUp{
    position: absolute;
    left:240px;
    top: 270px;
    width: 1207px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 112px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sloganDown{
    position: absolute;
    width: 800px;
    left: 240px;
    top: 666px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    color: #FFFFFF;
}

main{
    margin: 0 auto;
    max-width: 1440px;
}
.bl{
    
    box-sizing:border-box;
    padding-top: 130px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;
}
.chapterName{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;

    text-transform: uppercase;

    color: #06960B;
}
.border{
    width: calc(100%);
    max-width: 1440px;
    box-sizing:border-box;
    background: #FFFFFF;
    border: 3px solid #06960B;
    box-shadow: 0px 0px 15px 5px rgba(6, 150, 11, 0.25);
    border-radius: 25px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 60px;
    padding: 25px 30px
}
.les,.pil,.bio,.assort{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 520px;
    cursor: pointer;
}
.les span,.pil span,.bio span,.assort span{
    max-width: 270px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 15px;}

.les{
    background: url(../images/lesozgatovka.jpg);
    border-radius: 25px 0px 0px 25px;
}
.pil{
    background: url(../images/pilomaterial.jpg);
}
.bio{
    background: url(../images/biotoplivo.jpg);
}
.assort{
    background: url(../images/assortiment.jpg);
    border-radius:0px 25px 25px 0px;
}
.more-btn{
    box-sizing:border-box;
    width: 230px;
    height: 60px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;
    margin-bottom: 35px;
}
.more-btn span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
    padding: 0;
}
.craft .border{
    padding: 20px;
    grid-template: repeat(53,10px) / repeat(140,10px);
    gap:0;
}
.reg{
 border-radius:50%;
 display:flex;
 flex-direction: column;
 align-items:center;
 justify-content: center;
}
.reg span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 42px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}
.stage1{
    background: no-repeat center/100% url(../images/stage1.jpg);
    width: 340px;
    height: 340px;
    grid-area: 1/1/35/35;
}
.stage1 span{
    font-size: 36px;
}

.stage2{
    background: no-repeat center/100% url(../images/stage2.jpg);
    width: 190px;
    height: 190px;
    grid-area: 34/32/54/51;
}
.stage3{
    background: no-repeat center/100% url(../images/stage3.jpg);
    width: 240px;
    height: 240px;
    grid-area: 1/42/25/67;
}
.stage4{
    background: no-repeat center/100% url(../images/stage4.jpg);
    width: 260px;
    height: 260px;
    grid-area: 29/61/54/87;
}
.stage5{
    background: no-repeat center/100% url(../images/stage5.jpg);
    width: 230px;
    height: 230px;
    grid-area: 1/78/24/112;
}
.stage5 span{
    font-size: 22px;
}
.stage6{
    background: no-repeat center/100% url(../images/stage6.jpg);
    width: 190px;
    height: 190px;
    grid-area: 30/97/49/116;
}
.stage7{
    background: no-repeat center/100% url(../images/stage7.jpg);
    width: 220px;
    height: 220px;
    grid-area: 3/109/25/131;
}
.contact{
    margin-bottom:100px
}
.contact .border{
    grid-template-columns: 2fr 1fr;
    gap:0;
    padding:0;
    width: 100%;
}
.map{
    max-width: 960px;
    border-radius:25px
}
iframe{
    border-radius:25px 0 0 25px
}
.info{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.info span:nth-child(2n+1){
    padding-top: 20px;
}
.info span:nth-child(2n){
    padding-top: 30px;
}
.info span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: #000000;
}
.companyName{
    font-weight: 600 !important;
    font-size: 36px !important;
    line-height: 42px !important;
}
.moreInfo{
    font-weight: 600!important;
    font-size: 28px!important;
    line-height: 33px!important;
}
.tel,.mail{
    font-weight: 600!important;
    font-size: 28px!important;
    line-height: 33px!important;
    /* identical to box height */
    color: #06960B!important;
}
.mail{
    text-transform: lowercase!important;
}
#talk-btn{
    background: #06960B;
    border-radius: 50px;
    text-transform: uppercase!important;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 340px;
    height: 80px;
    margin-top:125px;
    margin-bottom:20px;
    align-self: center;
    cursor: pointer;
}
#talk-btn span{
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;
}
footer{
    max-height: 250px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: stretch;
    background: #696969;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
}
.container #talk-btn{
    margin: 0;
}
.upFoter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    max-height: 120px;
    border-bottom:2px solid #FFFFFF;
    padding: 20px 0;
}
.upFoter .logoImg{
    width: 240px;
    height: 80px;
}
.footerTxt{
    display:block;
    max-width: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align:center;
    color: #FFFFFF;
}
.lowerFoter{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:space-between;
    box-sizing: border-box;
    height: 80px;
    padding-bottom: 12px;
}
.lowerFoter span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.lowerFoter span:hover{
    color: #06960B;
    transition: 0.2s;
}
.BossContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-bottom: 100px;
}
.goods{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-sizing: border-box;
    gap: 30px;
    margin: 0 10px 100px 10px;
}
.good-cart{
    display:flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    cursor: pointer;
}
.shop-img{
    object-fit: cover;
    width: 100%;
}
.disp-none{
    display:none !important;
}
.talk-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:400px;
    gap: 40px;
}
.talk-form input{
    box-sizing:border-box;
    height: 60px;
    width: calc(70% - 40px);
    border-radius: 50px;
    padding-left: 50px;
    color: #06770a;
    border:2px solid #06960B;
    font-size: 18px;
}
.talk-form input:focus-visible{
    outline:#06960B;
}
.talk-form input[type="submit"]{
    padding: 0;
    background: #06960B;
    color: #fff;
    font-size: 25px;
}
.modal-txt{
    display:block;
    text-align:center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    color: #06770a;
    margin-top: 20px;
}
.hystmodal__window{
    border-radius:10px
}
.close{
    display:none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    overflow: hidden;
}
.close span{
    display:block;
    width: 50px;
    height: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #06960B;
    transition: all 0.5s;
}
.close span:nth-of-type(2) {
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.close span:nth-of-type(3) {
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.close span:nth-of-type(1) {
    display: none;
}
.btn-in-burger{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #012202!important;
    border-radius: 25px;
    width: 190px;
    height: 50px;
}
.shop-product-slider{
    display:none;
}
.shop-slider{
    margin-bottom: 100px;
}
.goods-slider{
    margin: 100px auto;
}
#btn-goods{
    position: absolute;
    margin-left: calc(10% - 10px);
    margin-top: calc(30% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    border:none;
    width:250px;
    background: radial-gradient(94.23% 574.24% at 69.1% 23.76%,#2ba042 0,#23b840 100%),linear-gradient(0deg,#28853a,#28853a);
    cursor: pointer;
}
#btn-goods span{
    position: relative;
    width:100%;
    margin: 10px 0;
}
.serves{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.875rem;
    margin-bottom: 100px;
    
}
.serve-block{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-end;
    border-radius:25px;
    cursor: pointer;
    box-shadow: 0 0 17px -5px rgb(0,0,0,0.5)
}
.fan{
    background: url(../images/goodsServe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.spec{
    background: url(../images/serve.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.serve-block span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
    z-index: 2;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 75%);
    display: block;
    width: calc(100% - 40px);
    margin-bottom: 20px;
    margin-left: 20px;
}
.serve-block #btn-goods{
    position: relative;
    margin: 0 0 20px 20px;
}
.serve-block #btn-goods span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    z-index: 2;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: block;
}
@media screen and (max-width: 1440px) {
    body{
        overflow-x: hidden;
    }
    .menu{
        gap: 0;
    }
    header span{
        font-size: 18px;
    }
    main{
        max-width: 1024px;
    }
    .sloganUp{
        left: 0;
        top: 0;
        font-size: 72px;
        margin: 270px auto 0 25px;
        font-size: 72px;
        width: 90%;
    }
    .sloganDown{
        left: 0;
        top: 0;
        margin: 600px 0 0 25px;
    }
    .chapterName{
        font-size: 48px;
    }
    .border{
        gap: 10px;
        padding: 15px 20px;
        grid-template-columns: repeat(2,1fr);
    }
    .les, .pil, .bio, .assort{
        border-radius:0;
        width:100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .les{
        border-radius: 25px 0 0 0;
    }
    .pil{
        border-radius: 0 25px 0 0;
    }
    .bio{
        border-radius: 0 0 0 25px;
    }
    .assort{
        border-radius: 0 0 25px 0;
    }
    .craft .border {
        padding: 20px;
        padding-bottom: 10px;
        grid-template:1fr/repeat(7,1fr);
        gap: 10px;
        overflow-x: scroll;
        /* -webkit-overflow-scrolling: touch; */
        /* cursor: grab; */
        border-radius: 25px 25px 0 0
    }
    .craft .border::-webkit-scrollbar{
        height: 15px;
        background-color: #fff;
    }
    .craft .border::-webkit-scrollbar-thumb{
        background-color: #06770a;
        border-radius: 10px;
    }
    .craft .border::-webkit-scrollbar-track {
        /* box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset; */
        background-color: #fff;
        width:90%
    }
    .reg{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius:0;
    }
    .reg span{
    font-size: 20px;
    }
    .stage1{
        background: no-repeat url(../images/stage1.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/1/1/1;
        background-size: cover;
        background-position: center center;
    }
    .stage1 span{
        font-size: 20px;
    }
    .stage2{
        background: no-repeat  url(../images/stage2.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/2/1/2;
        background-size: cover;
        background-position: center center;
    }
    .stage3{
        background: no-repeat  url(../images/stage3.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/3/1/3;
        background-position: center center;
        background-size: cover;
    }
    .stage4{
        background: no-repeat url(../images/stage4.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/4/1/4;
        background-position: center center;
        background-size: cover;
    }
    .stage5{
        background: no-repeat url(../images/stage5.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/5/1/5;
        background-position: center center;
        background-size: cover;
    }
    .stage5 span{
        font-size: 20px;
    }
    .stage6{
        background: no-repeat url(../images/stage6.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/6/1/6;
        background-size: cover;
        background-position: center center;
    }
    .stage7{
        background: no-repeat url(../images/stage7.jpg);
        width: 240px;
        height: 240px;
        grid-area: 1/7/1/7;
        background-size: cover;
        background-position: center center;
    }
    .container{
        max-width: 1024px;
        width: 100%;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
    .info span {
        font-size: 18px;
        line-height: 20px;
    }
    .info span:nth-child(2n+1){
        padding-top: 10px;
    }
    .companyName {
        font-size: 32px !important;
        line-height: 38px !important;
    }
    .moreInfo {
        font-size: 24px!important;
        line-height: 30px!important;
    }
    .tel, .mail {
        font-size: 24px!important;
        line-height: 30px!important;
    }
      #talk-btn {
        width: 240px;
        height: 60px;
        margin-bottom: 10px;
    }
    #talk-btn span {
        font-size: 22px;
        text-transform: uppercase !important;
    }
    .upFoter .logoImg {
        width: 140px;
        height: 60px;
    }
    .footerTxt {
        font-size: 18px;
        line-height: 20px;
    }
    .upFoter{
        justify-content: space-around;
    }
    .lowerFoter{
        justify-content: space-around;
    }

    /* ============================================ */
    .aboutMore {
        gap: 20px;
        margin: 60px 5px;
    }
    .aboutTxt{
        justify-content: space-between;
    }
    .aboutMore img {
        object-fit: cover;
        width: 100%;
        height: 290px;
    }
    .aboutTxt-pad{
        padding: 0 20px 0 20px;
    }
    .aboutTxt-pad span{
        font-size: 18px;
    }
    .aboutTxt-img{
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .menu{
        display:none;
    }
    #burger-menu-active{
        display:block;
    }
    .bur-menu{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        width:calc(100% - 20px)
    }
    .disp-none{
        display:block !important;
    }
    .sloganUp{
        left: 0;
        top: 0;
        font-size: 50px;
        margin: 130px auto 0 25px;
        width: calc(100% - 25px);
    }
    .sloganDown {
        position: absolute;
        width: calc(100% - 25px);
        font-size: 30px;
        line-height: 36px;
        left: 0;
        top: 0;
        margin: 600px 0 0 25px;
    }
    .upFoter{
        width:calc(100% - 20px);
        justify-content:space-between;
    }
    .footerTxt{
        display:none;
    }
    .lowerFoter{
        width:calc(100% - 20px);
        justify-content:space-between;
    }
    .info{
        padding-left: 5px;
    }
    .info span {
        font-size: 14px;
        line-height: 18px;
    }
    .info span:nth-child(2n+1){
        padding-top: 10px;
    }
    .companyName {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    .moreInfo {
        font-size: 20px!important;
        line-height: 34px!important;
    }
    .tel, .mail {
        font-size: 20px!important;
        line-height: 24px!important;
    }
      #talk-btn {
        width: calc(100% - (66% + 20px));
        height: 60px;
        margin-bottom: 10px;
    }
    .info #talk-btn{
        width: calc(100% - 20px);
    }
    #talk-btn span {
        font-size: 16px;
        text-transform: uppercase !important;
    }
    .les span, .pil span, .bio span, .assort span{
        max-width: 270px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
    }
    .more-btn {
        box-sizing: border-box;
        width: calc(100% - 30px);
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 50px;
        margin-bottom: 35px;
        cursor: pointer;
    }
    .more-btn span {
        font-size: 18px;
        line-height: 26px;
    }
    .borderText {
        background: #FFFFFF;
        border: 3px solid #06960B;
        box-shadow: 4px 4px 6px 2px rgb(6 150 11 / 25%);
        width: calc(100% - 50px); 
        margin-top: 50px;
        margin-left: 30px;
        margin-bottom: 75px;
        text-align: center;
    }
    .borderText span {
        font-size: 30px;
        line-height: 36px;
        padding: 23px 15px 23px 15px;
    }
    .goods-slider span{
        margin: 15px 0 0 45%;
    }
    #btn-goods{
        margin-left: calc(50% - 125px);
        margin-top: calc(50% - 180px);
        height: 50px;
    }
    #btn-goods span{
        font-size: 20px;
        margin:10px 0;
    }
}
@media screen and (max-width: 425px) {
    .border {
        width: calc(100%);
        max-width: 425px;
        gap: 10px;
        padding: 15px 20px;
        grid-template-columns: 1fr;
    }
    .sloganUp {
        left: 0;
        top: 0;
        font-size: 30px;
        line-height: 40px;
        margin: 130px auto 0 25px;
        width: calc(100% - 25px);
    }
    .sloganDown {
        position: absolute;
        width: calc(100% - 25px);
        font-size: 20px;
        line-height: 30px;
        left: 0;
        top: 0;
        margin: 600px 0 0 25px;
    }
    .les {
        border-radius: 25px 25px 0 0;
    }
    .pil {
        border-radius: 0 0 0 0;
    }
    .bio {
        border-radius: 0 0 0 0;
    }
    .assort {
        border-radius: 0 0 25px 25px;
    }
    .close{
        display: block;
    }
    .burger {
        width: calc(100% - 30px);
    }
    #burger-menu-active span {
        width: 50px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #06960B;
        transition: all 0.5s;
    }
    #burger-menu-active.active span:nth-of-type(1) {
        display:block;
        top: 50%;
    }
    #burger-menu-active.active  span:nth-of-type(2) {
        width: 50px;
        height: 4px;
        position: absolute;
        top: calc(50% - 10px);
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #06960B;
        transition: all 0.5s;
    }
    #burger-menu-active.active  span:nth-of-type(3) {
        width: 50px;
        height: 4px;
        position: absolute;
        top: calc(50% + 10px);
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #06960B;
        transition: all 0.5s;
    }
    .contact .border {
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        gap: 0;
        padding: 0;
        width: 100%;
    }
    iframe {
        border-radius: 25px 25px 0 0;
    }
    .upFoter, .lowerFoter {
        flex-direction: column;
        height:initial;
        padding: 0;
        max-height:100%;
    }
    .lowerFoter{
        align-items: center;
        gap: 20px;
    }
    #talk-btn {
        width: calc(100% - 20px);
        height: 60px;
        margin: 10px 0!important;
    }
    footer{
        max-height: 100%;
    }
    .talk-form input {
        box-sizing: border-box;
        height: 60px;
        width: calc(100% - 20px);
        border-radius: 50px;
        padding-left: 50px;
    }
    .modal-txt {
    margin-top: 40px;    
    }
    .chapterName {
        display: block;
        font-size: 38px;
        margin: 0 auto;
    }
    .aboutMore {
        display: grid;
        grid-template-columns: 1fr;
    }
    .aboutMore:nth-child(n) {
        height: 100%;
    }
    .aboutMore span{
        margin: 0;
        display:block;
        text-align: center;
    }
    .aboutMore img {
        border-radius:25px 25px 0 0 !important;
    }
    #prof, #head, #contact{
        border-radius: 25px!important;
    }
    .aboutTxt img{
        display:none;
    }
    #prof:nth-child(n){
        padding-bottom: 20px;
    }
    #head:nth-child(n){
        padding-bottom: 20px;
    }
    #contact:nth-child(n){
        padding-bottom: 20px;
    }
    .goods{
        display: none;
    }
    .shop-product-slider{
        display:block;
    }
    .shop-product-slider img, .shop-slider img{
        height: 120px;
        width: calc(100% - 20px)!important;
        margin: 0 auto !important;
    }
    .shop-slider, .shop-product-slider{
        margin-bottom: 100px;
    }
    .serves{
        grid-template-columns: 1fr
    }
    .fan, .spec{
        height: 240px;
    }
    .goods-slider span{
        margin: 15px 0 0 45%;
        font-size: 12px;
    }
    .goods-slider .owlImage{
        height: 180px;
    }
    #btn-goods{
        margin-left: calc(50% - 125px);
        margin-top: 110px;
        height: 50px;
    }
    #btn-goods span{
        font-size: 20px;
        margin:10px 0;
    }
}